[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "20.8b1"

[packages]
jinja2 = "2.11.2"
gitpython = "3.1.8"
semver = "2.10.2"
"ruamel.yaml" = "0.16.12"
passlib = "1.7.4"
deepmerge = "0.1.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
