{
  "builders": [
    {
      "boot_command": [
        {%- for command in boot_command %}
          "{$ command $}"{%- if not loop.last -%},{%- endif -%}
        {%- endfor %}
      ],
      "boot_wait": "{$ boot_wait | default('10s') $}",
      "cpus": {$ cpus | default(1) $},
      "disk_size": {$ disk_size | default(40000) $},
      "export_opts": [
        "--ovf10",
        "--manifest",
        "--options", "manifest,nomacsbutnat",
        "--vsys", "0",
        "--description", "{{ build_name }}",
        "--product", "{{ build_name }}",
        "--version", "{{ user `build_timestamp` }}",
        "--vmname", "{{ build_name }}"
      ],
      "format": "ova",
      "guest_additions_path": "VBoxGuestAdditions_{{.Version}}.iso",
      "guest_os_type": "{$ guest_os_type $}",
      "hard_drive_interface": "sata",
      "headless": {$ 'true' if headless else 'false' $},
      "http_directory": "{$ paths.build_dir $}",
      "iso_checksum": "{$ iso_checksum $}",
      "iso_url": "{$ iso_url $}",
      "keep_registered": true,
      "memory": {$ build_memory $},
      "name": "{{ user `name` }}",
      "output_directory": "{$ paths.output_dir $}/{{ build_name }}-{{ user `build_timestamp` }}",
      "output_filename": "{{ build_name }}",
      "shutdown_command": "echo '{$ pass $}' | sudo -S shutdown -P now",
      "ssh_handshake_attempts": {$ ssh_handshake_attempts | default(10) $},
      "ssh_password": "{$ pass $}",
      "ssh_timeout": "10000s",
      "ssh_username": "{$ user $}",
      "type": "virtualbox-iso",
      "vboxmanage": [
        {% if graphicscontroller -%}
          ["modifyvm", "{{ .Name }}", "--graphicscontroller", "{$ graphicscontroller $}"],
        {% endif -%}
        ["modifyvm", "{{ .Name }}", "--vram", {$ vram | default(16) $}],
        ["modifyvm", "{{ .Name }}", "--pae", "off"]
      ],
      "vboxmanage_post": [
        ["modifyvm", "{{ .Name }}", "--memory", {$ memory $}],
        ["modifyvm", "{{ .Name }}", "--vrde", "off"],
        ["storageattach", "{{ .Name }}", "--storagectl", "IDE Controller", "--port", 0, "--device", 1, "--type", "dvddrive", "--medium", "emptydrive"],
        ["snapshot", "{{ .Name }}", "take", "Root"]
      ],
      "vm_name": "packer-{% if vagrant %}vagrant-{% endif %}{$ args.distro $}-{$ args.release $}-{$ variant $}"
    }
  ],
  "provisioners": [
    {
      "environment_vars": [
        {% if keep_x -%}
          "KEEP_X=yes",
        {% endif -%}
        "HOME_DIR=/home/{$ user $}",
        "ADMIN_USER={$ user $}",
        "ADMIN_PASS={$ pass $}",
        "FILE_SERVER_URL={$ services.file_server_url $}"
      ],
      "execute_command": "echo '{$ pass $}' | {{ .Vars }} sudo -S -E sh -eux '{{ .Path }}'",
      "expect_disconnect": true,
      "scripts": [
        {%- for script in scripts_before %}
          "{$ paths.scripts_dir $}/{$ script $}.sh",
        {%- endfor %}
        {%- for script in scripts %}
          "{$ paths.scripts_dir $}/{$ script $}.sh",
        {%- endfor %}
        {%- if vagrant %}
          "{$ paths.scripts_dir $}/vagrant.sh",
          "{$ paths.scripts_dir $}/vagrant_sudoers.sh"{%- if scripts_after -%},{%- endif -%}
        {%- endif %}
        {%- for script in scripts_after %}
          "{$ paths.scripts_dir $}/{$ script $}.sh"{%- if not loop.last -%},{%- endif -%}
        {%- endfor %}
      ],
      "type": "shell"
    }
  ],
  "variables": {
    "build_timestamp": "{{ isotime \"2006-01-02-15-04-05\" }}"
  }
}
