{
  "builders": [
    {
      "attach_snapshot": "Root",
      "cd_files": [
        "files/*"
      ],
      "cd_label": "files",
      "export_opts": [
        "--ovf10",
        "--manifest",
        "--options", "manifest,nomacsbutnat",
        "--vsys", "0",
        "--description", "{{ build_name }}",
        "--product", "{{ build_name }}",
        "--version", "{{ user `build_timestamp` }}",
        "--vmname", "{{ build_name }}"
      ],
      "format": "ova",
      "guest_additions_mode": "disable",
      "headless": {$ 'true' if headless else 'false' $},
      "keep_registered": false,
      "name": "{{ user `name` }}",
      "output_directory": "{$ paths.ova_output_dir $}/{{ build_name }}-{{ user `build_timestamp` }}",
      "output_filename": "{{ build_name }}",
      "shutdown_command": "echo '{$ pass $}' | sudo -S shutdown -P now",
      "ssh_password": "{$ pass $}",
      "ssh_timeout": "10000s",
      "ssh_username": "{$ user $}",
      "target_snapshot": "{{ build_name }}-{{ user `build_timestamp` }}",
      "type": "virtualbox-vm",
      "vboxmanage": [
        {% if graphicscontroller %}
          ["modifyvm", "{{ .Name }}", "--graphicscontroller", "{$ graphicscontroller $}"],
        {% endif %}
        ["modifyvm", "{{ .Name }}", "--memory", {$ build_memory $}],
        ["modifyvm", "{{ .Name }}", "--vram", {$ vram | default(16) $}],
        ["modifyvm", "{{ .Name }}", "--clipboard-mode", "{$ clipboardmode | default('disabled') $}"],
        ["modifyvm", "{{ .Name }}", "--draganddrop", "{$ draganddrop | default('disabled') $}"]
      ],
      "vboxmanage_post": [
        ["modifyvm", "{{ .Name }}", "--memory", {$ memory $}],
        ["modifyvm", "{{ .Name }}", "--vrde", "off"]
      ],
      "vm_name": "packer-{% if vagrant %}vagrant-{% endif %}{$ args.template $}-{$ args.release $}-root"
    }
  ],
  "provisioners": [
    {
      "environment_vars": [
        {% if keep_x -%}
          "KEEP_X=yes",
        {% endif -%}
        "HOME_DIR=/home/{$ user $}",
        "ADMIN_USER={$ user $}",
        "ADMIN_PASS={$ pass $}"
      ],
      "execute_command": "echo '{$ pass $}' | {{ .Vars }} sudo -S -E sh -eux '{{ .Path }}'",
      "expect_disconnect": true,
      "scripts": [
        {%- for script in scripts_before %}
          "{$ paths.scripts_dir $}/{$ script $}.sh",
        {%- endfor %}
        {%- for script in scripts %}
          "{$ paths.scripts_dir $}/{$ script $}.sh",
        {%- endfor %}
        {%- for script in scripts_after %}
          "{$ paths.scripts_dir $}/{$ script $}.sh"{% if not loop.last %},{% endif %}
        {%- endfor %}
      ],
      "type": "shell"
    }
  ],
  "post-processors": [
    {% if vagrant -%}
    {
      "output": "{$ paths.box_output_dir $}/{{ build_name }}-{{ user `build_timestamp` }}/{{ build_name }}.box",
      "type": "vagrant",
      "keep_input_artifact": false
    }
    {% endif -%}
  ],
  "variables": {
    "build_timestamp": "{{ isotime \"2006-01-02-15-04-05\" }}"
  }
}
